In [103]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'supermarkets.zip',
 'supermarkets_commas.txt',
 'supermarkets_semi-colons.txt',
 'Test1.ipynb']

In [11]:
import pandas

In [63]:
df1=pandas.read_csv('supermarkets.csv')
df1.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df1.shape

(6, 7)

In [21]:
df2 = pandas.read_json('supermarkets.json')
df2.set_index('ID')

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [26]:
import xlrd
df3 = pandas.read_excel('supermarkets.xlsx', sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:
df4 = pandas.read_csv('supermarkets_commas.txt')
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [35]:
df5 = pandas.read_csv('supermarkets_semi-colons.txt', sep=';')
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [69]:
df6 = pandas.read_json('http://pythonhow.com/supermarkets.json')
df6

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [74]:
df6=df6.set_index("Address")
df6

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [75]:
df6.loc['735 Dolores St':'1056 Sanchez St','Employees':'Name']

                 Employees         Name
Address
735 Dolores St          15  Bready Shop
332 Hill St             25  Super River
3995 23rd St            10   Ben's Shop
1056 Sanchez St         12      Sanchez

In [82]:
df6.iloc[3,1:4]

Country             USA
Employees            10
Name         Ben's Shop
Name: 3995 23rd St, dtype: object

In [87]:
df6.ix[2,4]

'California 94114'

In [89]:
df6.drop("City", 1)

                Country  Employees         Name             State
Address
3666 21st St        USA          8      Madeira          CA 94114
735 Dolores St      USA         15  Bready Shop          CA 94119
332 Hill St         USA         25  Super River  California 94114
3995 23rd St        USA         10   Ben's Shop          CA 94114
1056 Sanchez St     USA         12      Sanchez        California
551 Alvarado St     USA         20   Richvalley          CA 94114

In [95]:
df6.drop(df6.columns[0:3],1)

                        Name             State
Address
3666 21st St         Madeira          CA 94114
735 Dolores St   Bready Shop          CA 94119
332 Hill St      Super River  California 94114
3995 23rd St      Ben's Shop          CA 94114
1056 Sanchez St      Sanchez        California
551 Alvarado St   Richvalley          CA 94114

In [97]:
df6.columns

Index(['City', 'Country', 'Employees', 'Name', 'State'], dtype='object')

In [101]:
len(df6.index)
df6['Continent']=df6.shape[0]*['North America']
df6

,City,Country,Employees,Name,State,Continent
Address,,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114,North America

In [104]:
df6_t = df6.T
df6_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,North America,North America,North America,North America,North America,North America

In [114]:
from geopy.geocoders import Nominatim

nom = Nominatim()

In [118]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [126]:
import pandas
geo_frame = pandas.read_json('supermarkets.json')
geo_frame

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [127]:
geo_frame["Address"] = geo_frame["Address"]+', '+geo_frame['City']+', '+geo_frame['State']+', '+geo_frame['Country']
geo_frame

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114

In [128]:
geo_frame['Coordinate'] = geo_frame["Address"].apply(nom.geocode)
geo_frame

,Address,City,Country,Employees,ID,Name,State,Coordinate
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [132]:
geo_frame['Latitude'] = geo_frame['Coordinate'].apply(lambda x: x.latitude if x != None else None)
geo_frame['Longitude'] = geo_frame['Coordinate'].apply(lambda x: x.longitude if x != None else None)
geo_frame

,Address,City,Country,Employees,ID,Name,State,Coordinate,Latitude,Longitude
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN,NaN
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220